<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<div class="container-fluid">
		<ul class="navbar-nav ">
			<li class="active nav-item"><a class="nav-link" href="/manage">DashBoard</a></li>
			<li class="nav-item"><a class="nav-link" href="/manageBooks">Books</a></li>
			<li class="nav-item"><a class="nav-link" href="/manageCategories">Categories</a></li>
			<li class="nav-item"><a class="nav-link" href="/">View Website</a></li>
		</ul>
	</div>
</nav>